* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper-content {
    margin-top: 5%;
}

.wrapper-content label{
    color: white;
}

.wrapper-content input{
    padding: 10px; 
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    font-weight: bolder;
    margin: 0;
}

.wrapper-content button{
    border-radius: 0 20px 20px 0;
    padding: 10px;
    border: 1px solid darkblue;
    cursor: pointer;
    outline: none;
    margin-left: -10px;
    color: white;
    background-color: darkblue;
}

#result {
    background-color: lightblue;
    color: white;
    margin-top: 20px;
}